<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSC3_FastTableEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NSC3_FastTableEdit.Properties.Settings>
            <setting name="NSC3_FastTableEdit_Fields_Fields_Service" serializeAs="String">
                <value>http://srv-nav:7058/NAV2016PL/WS/CRONUS%20Polska%20Sp.%20z%20o.o./Codeunit/FieldsCUExtension</value>
            </setting>
            <setting name="NSC3_FastTableEdit_NAVFieldsService_Fields_Service"
                serializeAs="String">
                <value>http://srv-nav:7058/NAV2016PL/WS/CRONUS%20Polska%20Sp.%20z%20o.o./Page/Fields</value>
            </setting>
            <setting name="NSC3_FastTableEdit_NAVFieldsService_Fields" serializeAs="String">
                <value>http://srv-nav:7058/NAV2016PL/WS/CRONUS%20Polska%20Sp.%20z%20o.o./Codeunit/Fields</value>
            </setting>
            <setting name="NSC3_FastTableEdit_NAVFieldsService_SystemService"
                serializeAs="String">
                <value>http://srv-nav:7058/NAV2016PL/WS/CRONUS%20Polska%20Sp.%20z%20o.o./SystemService</value>
            </setting>
        </NSC3_FastTableEdit.Properties.Settings>
    </applicationSettings>
</configuration>